<%- include('partials/header') -%>
<div class="container flex-9">
  <div class="row justify-content-center mt-5 w-90">
    <div class="form flex-5">
      <div class="col-6">
        <h2><%= post.title %></h2>
        <img class="img-fluid w-50" src="<%= post.image%>" />
        <div class="row justify-content-between">
          <!-- <form
            class="col-1"
            action="/post/likePost/<%= post.id %>?_method=PUT"
            method="POST"
          >
            <button class="btn btn-primary fa fa-heart" type="submit"></button>
          </form>
          <h3 class="col-3">Likes: <%= post.likes %></h3> -->
          <%if(post.user == user.id){ %>
          <form
            action="/post/deletePost/<%= post.id %>?_method=DELETE"
            method="POST"
            class="col-3"
          >
            <button class="button button-2" type="submit">Delete post</button>
          </form>
          <%}%>
          <!-- <form
            class="col-1"
            action="/post/createComment/<%= post.id %>"
            method="POST"
          >
            <button class="btn btn-primary fa fa-heart" type="submit">Make comment</button>
            <textarea name="" id=""></textarea>
          </form> -->
        </div>
      </div>
      <div class="col-3 mt-5">
        <p><%= post.caption %></p>
      </div>
    </div>
    <div class="mt-5 form">
      <!-- Rehab plan entry result goes here (EJS syntax) -->
      <h2>Rehab plan</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Day</th>
            <th>Exercise</th>
            <th>Sets</th>
            <th>Reps</th>
          </tr>
        </thead>
        <tbody>
          <% post.exercises.forEach(ex => { %>
            <tr>
              <td><%= ex.day %></td>
              <td><%= ex.name %></td>
              <td><%= ex.sets %></td>
              <td><%= ex.reps %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% if (user.role === 'Physical Therapist') { %>
      <h2>Edit rehab plan</h2>
      <!-- form that edits the current post -->
      <table class="table">
        <thead>
          <tr>
            <th>Day</th>
            <th>Exercise Name</th>
            <th>Sets</th>
            <th>Reps</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody id="editExerciseContainer" data-exercise-count="<%= post.exercises.length %>" data-post-id="<%= post._id %>">
          <% post.exercises.forEach((ex, index) => { %>
            <form action="/post/<%= post._id %>/editExercise/<%= index %>?_method=PUT" method="POST">
              <tr>
                <td><input name="day" type="text" value="<%= ex.day %>" class="form-control" /></td>
                <td><input name="name" type="text" value="<%= ex.name %>" class="form-control" /></td>
                <td><input name="sets" type="number" value="<%= ex.sets %>" class="form-control" /></td>
                <td><input name="reps" type="number" value="<%= ex.reps %>" class="form-control" /></td>
                <td>
                  <button type="submit" class="btn btn-primary btn-sm">Update</button>
                </td>
                <td>
                  <button type="submit" formaction="/post/<%= post._id %>/deleteExercise/<%= index %>?_method=DELETE" formmethod="POST" class="btn btn-danger btn-sm">Delete</button>
                </td>
              </tr>
            </form>
          <% }) %>
        </tbody>
      </table>
      <button id="addEditExerciseBtn" type="button" class="btn btn-success btn-sm mt-3">Add new exercise</button> 
    <% } %>

      <h2>Patient feedback/questions</h2>
      <form action="/comment/createComment/<%=post._id%>" method="POST">
        <div class="mb-3">
            <label for="comment" class="form-label">Comment</label>
            <input type="text" class="form-control" id="comment" name="comment">
        </div>
        <button type="submit" class="button button-2">Submit</button>
      </form>
    </div>
    <ul>
      <% for(var i=0; i<comments.length; i++) {%>
        <li class="col-6 justify-content-between mt-5 form no-bullet">
          <!-- Use old codepen sample for comments inspiration -->
          <!-- EJS syntax to get person name -->
          <p>Comment by: <%= comments[i].user?.userName || 'Anonymous'%></p>
          <p>Date: <%= comments[i].createdAt %></p>
          <p><%=comments[i].comment%></p>
          <div class="row justify-content-between">
            <form
              class="col-1"
              action="/comment/likeComment/<%= comments[i]._id %>?_method=PUT"
              method="POST"
            >
              <button class="button button-2" type="submit">
                Like
              </button>
            </form>
            <h3 class="col-3">Likes: <%= comments[i].likes %></h3>
          
            <%if(post.user == user.id){ %>
            <form
              action="/comment/deleteComment/<%= comments[i]._id %>?_method=DELETE"
              method="POST"
              class="col-3"
            >
              <button class="button button-2" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="16" height="16" fill="currentColor">
                  <path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/>
                </svg>
              </button>
            </form>
            <%}%>
          </div>
        </li>
      <% } %>
    </ul>
    <% if (user.role === "Patient") { %>
    <div class="col-6">
      <a class="button button-5" href="/profile">Return to profile</a>
    </div>
    <% } %>
    <% if (user.role === "Physical Therapist") { %>
      <div class="flex-8 m1">
        <a class="button button-5 m4" href="/profile">Return to Plan Creation</a>
        <a class="button button-5 m4" href="/feed">Return to Patient Plans</a>
      </div>
      <% } %>
  </div>
</div>

<%- include('partials/footer') -%>
