<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <!-- Below add account role here to verify that the account is either Physical Therapist or Patient -->
              <p><strong>Role</strong>: <%# user.role (when achieved remove comment) %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <h2>Add a plan</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <!-- Ex. Bob's ACL rehab plan/program -->
                  <label for="title" class="form-label">Rehab plan title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div>
                <!-- Add an area here to generate a table plan for a given phase (days of the week, exercise name, sets and reps) -->
                <div id="planInputs">
                  <h4>Rehab Plan</h4>
                  <div class="exerciseRow mb-2">
                    <!-- express.urlencoded in server.js turns exercises[0][day] to exercise[0].day -->
                    <input type="text" name="exercises[0][day]" placeholder="Day" class="form-control mb-1" />
                    <input type="text" name="exercises[0][name]" placeholder="Exercise Name" class="form-control mb-1" />
                    <input type="text" name="exercises[0][sets]" placeholder="Sets" class="form-control mb-1" />
                    <input type="text" name="exercises[0][reps]" placeholder="Reps" class="form-control mb-1" />
                  </div>
                </div>
                <button id="addExerciseBtn" type="button" class="btn btn-secondary mt-2 mb-3">Add Exercise</button>
              </div>
              <div class="mb-3">
                <!-- Ex. For quad sets emphasize full extension if you have any questions or feedback drop a comment -->
                <label for="caption" class="form-label">Physical Therapist instructions</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <div class="mb-3">
                <!-- Image of the person or something to identify them or the plan -->
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <!-- Feed of all programs that the Physical Therapist can see of the patients -->
          <a class="btn btn-primary" href="/feed">Return to all programs</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>